.project {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 10px;
}

.project .card {
  display: none;
}

.project .cardActive {
  display: block;
  animation: scaleUp 0.25s ease forwards;
}

.project .card > a:hover .title {
  color: var(--orange-yellow-crayola);
  font-weight: bold;
}

.project .card > a {
  width: 100%;
}

.project .card:has(> a:hover) .bannerBox::before {
  background: hsla(0, 0%, 0%, 0.5);
}

.project .iconBox {
  --scale: 0.8;

  background: var(--jet);
  color: var(--orange-yellow-crayola);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  font-size: 20px;
  padding: 18px;
  border-radius: 12px;
  opacity: 0;
  z-index: 1;
  transition: var(--transition-1);
}

.project .card > a:hover .iconBox {
  --scale: 1;
  opacity: 1;
}

.project .card > a:hover img {
  transform: scale(1.1);
}

.project .bannerBox {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.project .bannerBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
  transition: var(--transition-1);
}

.project .bannerBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-1);
}

.project .title,
.project .category {
  margin-inline-start: 10px;
}

.project .title {
  color: var(--white-2);
  font-size: var(--fs-5);
  font-weight: var(--fw-400);
  line-height: 1.3;
}

.project .category {
  color: var(--light-gray-70);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
}

.project .filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 1rem;
}

.project .filterButton {
  color: var(--light-gray);
  font-size: var(--fs-5);
  transition: var(--transition-1);
}

.project .filterLink {
  color: var(--light-gray);
  font-size: var(--fs-5);
  transition: var(--transition-1);
}

.project .filterButton:hover {
  color: var(--light-gray-70);
}

.project .filterButtonActive {
  color: var(--orange-yellow-crayola);
}

.project .filterLink:hover {
  color: var(--light-gray-70);
}

.project .filterLinkActive {
  color: var(--orange-yellow-crayola);
}

@media (min-width: 375px) {
  .project .bannerBox {
    height: auto;
  }
}

@media (min-width: 450px) {
  .project .bannerBox {
    height: auto;
  }
}

@media (min-width: 580px) {
  .project .bannerBox {
    border-radius: 16px;
  }
}

@media (min-width: 768px) {
  .project .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .project .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
